:root {
    --indigo: rgb(49, 0, 98);
    --eggplant: rgb(109, 67, 90);
    --red: rgb(255, 105, 120);
    --white: rgb(255, 252, 249);
    --blue: rgb(177, 237, 232);
    --darker_blue: rgb(145, 235, 227);
    --lighter_indigo: rgb(79, 13, 145);
    --saturated_red: rgb(222, 64, 80);
}

body {
    background-color: var(--indigo);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#style {
    display: grid;
    grid-template-columns: 30vw 68vw;
    grid-template-rows: 10vh 83vh;
    grid-template-areas:
        "side top"
        "side body";
    gap: 1vw;
}

#style > div {
    background-color: var(--blue);
    height: 100%;
    width: 100%;
    border-radius: 1vh;
}

#sidebar {
    grid-area: side;
}

#header {
    grid-area: top;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#body {
    grid-area: body;
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(7, 12%);
    grid-template-rows: repeat(5, 18%);
    align-content: center;
    justify-content: center;
}

#body > div {
    border-radius: 8%;
    box-shadow: 4px 4px var(--indigo);
}

.desk {
    background-color: var(--eggplant);
    color: var(--white);
}

.desk > p {
    text-align: center;
}

#teacher_desk {
    background-color: var(--red);
    grid-area: 4 / 1 / span 2 / span 2;
    text-align: center;
    font-size: 300%;
}

/*
#table {
    background-color: var(--eggplant);
    grid-area: 1 / 6 / span 2 / span 2;
}
*/

h4 {
    line-height: 0.1%;
    text-align: center;
    justify-content: center;
}

form {
    text-align: center;
}

form > label {
    font-size: 80%;
}

input[type="text"] {
    border: none;
    border-bottom: 4px solid var(--indigo);
    width: 70%;
    background-color: transparent;
    align-self: center;
}

h3 {
    text-align: center;
    font-size: 150%;
}

#edit_names {
    width: 20%;
    height: 7%;
    align-self: center;
    position: relative;
    background-color: var(--red);
    bottom: -20%;
    left: 40%;
    right: 50%;
    border-radius: 15%;
    border: 3px solid var(--eggplant);
    text-align: center;
    justify-content: center;
}

#give_button_container {
    background-color: var(--red);
    width: 75%;
    height: 23%;
    left: 12.5%;
    position: relative;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#give_button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--indigo);
    width: 30%;
    height: 25%;
    margin: 2%;
    border-radius: 15%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
}

.dropbtn {
    background-color: var(--red);
    margin: 15%;
    border-radius: 20%;
    color: var(--white);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--darker_blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 3px solid var(--indigo);
}

.dropdown-content a {
    color: var(--indigo);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: var(--white);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: var(--eggplant);
}

#give_button:hover {
    background-color: var(--lighter_indigo);
}

#edit_names:hover {
    background-color: var(--saturated_red);
}

#confirm {
    position: absolute;
    width: 50%;
    height: 30%;
    background-color: var(--white);
    top: 30%;
    left: 25%;
    border-radius: 10vh;
    border: 5px solid var(--indigo);
    align-content: center;
    justify-content: center;
}

#confirm > p {
    color: var(--indigo);
    font-size: 1.7rem;
    margin: 5%;
    text-align: center;
}

#confirm > div {
    width: 35%;
    height: 20%;
    border-radius: 4vh;
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    border: 3px solid var(--indigo);
}

#yes {
    background-color: greenyellow;
    left: 60%;
}

#no {
    background-color: red;
    left: 5%;
    bottom: 20%;
}

#yes:hover {
    background-color: rgb(116, 193, 0);
}

#no:hover {
    background-color: rgb(180, 0, 0);
}

#buy_button_container {
    background-color: var(--indigo);
    width: 75%;
    height: 23%;
    left: 12.5%;
    position: relative;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#buy_button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--red);
    width: 30%;
    height: 25%;
    margin: 2%;
    border-radius: 15%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
}

#buy_button:hover {
    background-color: var(--saturated_red);
}

#name_lable {
    color: red;
}

.delete {
    background-color: red;
    height: 1.3vw;
    width: 1.3vw;
    border-radius: 100%;
    text-align: center;
    margin-left: 40%;
    margin-top: 7%;
}

.delete:hover {
    background-color: var(--red);
}
